{% extends "base.html "%}

{% block content %}

{% if review %}
<p>Review Id is {{ review.string_id }}</p>
<p>Business reviewed: {{ review.business}}</p>
<p>Business URL: <a href="{% url 'review_detail' review.url %}">{{review.url}}</a></p>
<p>Rating: {{review.rating}}</p>
<p>Review by: {{review.user}}</p>
<p>Created at: {{review.created_at}}</p>
<p>{{review.text}}</p>
{% comment %} <div>
    User has rated the following businesses:
    <ul>
        {% for business in rated_businesses%}
        <li><a href="{% url 'business_detail' business.id %}">{{business.name}}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    The Content-based recommendation system has recommeded the following businesses:
    <ul>
        {% for business in content_based_recommended_businesses%}
        <li><a href="{% url 'business_detail' business.id %}">{{business.name}}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    The Collaborative recommendation system has recommeded the following businesses:
    <ul>
        {% for business in collaborative_based_recommended_businesses%}
        <li><a href="{% url 'business_detail' business.id %}">{{business.name}}</a></li>
        {% endfor %}
    </ul>
</div> {% endcomment %}
{% else %}
<p>Review doesn't exist.</p>
{% endif %}



{% endblock %}
